<div class="card">
    <div class="card-body">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below.
        </div>

        <ul #scrollMe
        style="overflow: scroll; height: 500px;"
        [scrollTop]="scrollMe.scrollHeight"
        *ngIf="(messageService.messageThread$ | async)?.length > 0" 
        class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div class="d-flex align-items-start">
                    <span class="chat-img me-3 float-right" >
                        <img class="rounded-circle" [src]="message.senderPhotoUrl || './assets/user.png'" alt="{{message.senderUsername}}" width="40" height="40">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"></span> {{message.messageSent | timeago}}
                                <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== userName">
                                    (unread)
                                </span>
                                <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== userName">
                                    (read {{message.dateRead | timeago}})
                                </span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                name="messageContent"
                [(ngModel)]="messageContent"
                required
                type="text"
                class="form-control form-control-sm" 
                placeholder="Send a private message" />
                <button class="btn btn-primary" [disabled]="!messageForm.valid" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
