<form
[formGroup]="registerForm"
(ngSubmit)="registerForm.valid && register()"
autocomplete="off"
class="register-card">


<h2 class="text-center register-title">Create Your Account 💖</h2>
<p class="text-center text-muted mb-4">It only takes a minute to get started</p>


<div class="gender-select">
<label class="section-label">I am a</label>


<label class="radio-option">
<input type="radio" value="male" formControlName="gender"> Male
</label>


<label class="radio-option">
<input type="radio" value="female" formControlName="gender"> Female
</label>
</div>


<app-text-input
[formControl]="registerForm.controls['username']"
[label]="'Username'">
</app-text-input>


<app-text-input
[formControl]="registerForm.controls['knownAs']"
[label]="'Known As'">
</app-text-input>


<app-date-input
[formControl]="registerForm.controls['dateOfBirth']"
[label]="'Date of birth'"
[maxDate]="maxDate">
</app-date-input>


<app-text-input
[formControl]="registerForm.controls['city']"
[label]="'City'">
</app-text-input>


<app-text-input
[formControl]="registerForm.controls['country']"
[label]="'Country'">
</app-text-input>


<app-text-input
[formControl]="registerForm.controls['password']"
[label]="'Password'"
[type]="'password'">
</app-text-input>


<app-text-input
[formControl]="registerForm.controls['confirmPassword']"
[label]="'Confirm Password'"
[type]="'password'">
</app-text-input>


<div class="validation-box" *ngIf="validationErrors.length > 0">
<ul>
<li *ngFor="let error of validationErrors">{{ error }}</li>
</ul>
</div>


<div class="form-actions text-center">
<button
class="btn btn-success btn-lg me-2"
type="submit"
[disabled]="!registerForm.valid">
Register
</button>


<button
class="btn btn-outline-secondary btn-lg"
type="button"
(click)="cancel()">
Cancel
</button>
</div>
</form>